# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment (Contains proprietary XIMEA API - DO NOT COMMIT)
venv/
env/

# IDEs
.idea/
.vscode/

# Project Data & Logs
data/
*.tif
*.png
*.csv
*.log
*.jsonl

# OS
.DS_Store
Thumbs.db
